<h1>ペット相談アプリ</h1>

<p>ペットの悩みを気軽に相談できるアプリです</p>

<p>
  <a href="#">ログイン</a>
  <%= link_to "新規登録", new_user_path %>
</p>

<p>
  <%= link_to "質問一覧を見る", questions_path %>
  <%= link_to "質問する", new_question_path %>
</p>
